html{
    overflow : hidden;
}
body{

    cursor : pointer;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 1rem;
    background-size: cover;
}

main{
    background-image : url('../css/images/background.jpg');
    right : 0px;
    position: fixed;
    width: 100%;
    z-index : 0;
    overflow-y : auto;
    height : 100vh;
    padding-top : 50px;
    background-size : cover;
}

header{
    top: 50px;
    position: fixed;
    width: 100%;
    z-index : 1;
    position : absolute;
    overflow : hidden;
}

#logo{
    background-image: url('../css/images/logo_LMU.svg');
    width: 166px;
    height: 40px;
    z-index: 0;
    position: fixed;
    right: 0;
    top: calc(100vh - 50px);
    background-position: 0, 0;
    background-size: contain;
    background-repeat: no-repeat;
}

#tools_message{
    background: rgb(95, 95, 66);
    position: fixed;
    bottom: 0;
    z-index: 100;
    width: 75%;
    height: 50px;
    margin-left: 12.5%;
    text-align: center;
    padding: 10px;
    display: none;
}

#tools_menu{
    width: 100%;
    height: 20px;
    box-shadow: 0px 5px 5px #00000085;
    position: fixed;
    top: 0;
    left: 0;
    text-align: right;
    color : black;
    font-family: "Poppins", sans-serif;;
    font-weight: normal;
    padding: 5px;
    background-image : url('../css/images/background.jpg');
}

#audio_start{
    background-image: url('../css/images/off.png');
    position: absolute;
    background-size: cover;
    width: 54px;
    height : 30px;
    top: 0;
}
#speed{
    left: 80px;
    position: absolute;
}

.knob{
    margin : auto;
}
.menu_entry{
    width: 100px;
    display: inline-flex;

}

.menu_entry_list{
    background-image : url('../css/images/background.jpg');
    box-shadow: 5px 5px 5px #00000085;
    text-align: center;
    display: none;
    position: absolute;
    top: 30px;

}


.plugin_menu{
    margin : 0px;
    padding: 10px;
    position:relative;
}

.plugin_menu:hover{
    background:#913f3f;
}

.plugin_menu:disabled{
    background:red;
}

.plugin_title{
    background: linear-gradient(135deg, rgb(81, 77, 49) 0%, rgb(137, 132, 94) 50%);
    position: absolute;
    height: 20px;
    left: 10px;
    top : -20px;
    border-radius: 10px 10px 0px 0px;
    padding: 0px 10px;
    display: inline;
    overflow: hidden;
}

.plugin_title::after{
    content: ' ';
    height: 4px;
    width: 100%;
    display: flex;
    position: absolute;
    top: 15px;
    left: 0;
}

.plugin_title:hover{
    cursor:grab;
}

#wrapper {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, 100px);
    align-items: center;
    justify-content: space-between;
    margin-left:10px;
    padding-bottom : 100px;
}

.plugin{
    height:300px;
    position : relative;
    border-radius : 20px;
    border: #b09b67 inset;
    background-image : url('../css/images/plugin.jpg');
}

#popup{
    background: red;
    width: 90%;
    position: fixed;
    z-index: 100;
    margin: 5%;
    height: 90vh;
    top: 0;
    display : none;
}

.manifest{
    background: #303134;
    width:150px;
    display: none;
    position:absolute;
    left:-150px;
    top:0;
}

.plugin_menu:hover .manifest {
  display: block;
}

#model{
    width: 90%;
    position: fixed;
    z-index: 100;
    margin: 5%;
    height: 90vh;
    top: 0;
    display : none;
    text-align: center;
    overflow-y: auto;
}

.close_button{
    width: 41px;
    position: absolute;
    background: #ff06065e;
    height: 45px;
    right: 0;
    font-size: 30px;
    box-shadow: 0px 0px 5px 5px #ff06065e;
}

#controls{
    background: #f6f6f6;
    width: 50%;
    height: 50%;
    position: fixed;
    left: 25%;
    top: 25%;
    display : none;
    display: none;
    border-radius: 5px;
    box-shadow: 5px 5px 5px 0px #55524C;
}

#modules{
    background: #f6f6f6;
    width: 80%;
    margin: auto;
    overflow-y: auto;
    padding: 10px;
}

.module{
    background: #cacaca;
    margin-bottom: 10px;
    padding: 10px;
}

.module:hover{
    box-shadow: 3px 3px 1px 1px #73716e78;
}

.module td {
}
  
.module tr:nth-child(odd) {
    background-color: #4C8BF5;
    color: #fff;
  }

.controls{
    margin-left: 15px;
    width: calc(100% - 30px);
}

select{
    border: 1px solid #999;
    color: #fff;
    background-color: #554829;
    border-radius: 5px;
}

#model_content{
    text-align : justify;
    padding: 30px;
    background-image : url('../css/images/background.jpg');
    border: #acabab outset;
}

#model_content h1{
    text-align :center;
}
