#trombone{
  grid-column: 1 / span 11; 
  background-size: cover;
  width : 1200px;
}

#trombone_menu{
  background: #f2f2f2;
  display: none;
  position: fixed;
  z-index: 100;
  width:200px;
}

#trombone_control{
  background-image : url('./images/trombone.png');
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
}

#trombone_slide_container{
  width: 946px;
  right: 0;
  position: absolute;
  bottom: 0;
  height: 88px; 
}

#trombone_slide{
  background-image : url('./images/slide.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 590px;
  height: 90px;
  left: 0px;
  /* top: 85px; */
}

#trombone .instrument_controls{
  width: 500px;
  top: 0px;
  position: absolute;
  right: 0px;
}

#controls2{
  width:400px;
  height:200px;
}


#constant_mass_container{
  bottom: 2px;
  position: absolute;
  margin-left: 60px;
}