#minimal{
  grid-column: 1 / span 5; 
  background-size: cover;
  width : 580px;
}

#minimal_menu{
  background: #f2f2f2;
  display: none;
  position: fixed;
  z-index: 100;
  width:200px;
}

#minimal_control{
  height:100px;
  background-size: contain;
}
