#reverb_main{
    background-image: url("./images/reverb.jpeg");
    width: 100%;
    position: relative;
    height: 100%;
    border-radius : 15px;
    background-size: cover;
}

#reverb_on{
    background-image: url("./images/off.png");
    width: 60px;
    height: 60px;
    background-size: cover;
    margin: auto;
    top: 20px;
    position: relative;
}

#reverb_force{
    top: 115px;
    position: relative;
    left: 106px;
}

#reverb{
    grid-column: span 2;
}
