#duduk{
/*   background-image : url('./images/velvet.jpg'); */
  grid-column: 1 / span 5; 
  background-size: cover;
  width : 580px;
}

#duduk_menu{
  background: #f2f2f2;
  display: none;
  position: fixed;
  z-index: 100;
  width:200px;
}

#duduk_control{
  background-image : url('./images/simon.png');
  height:100px;
  background-size: contain;
}

#controls2{
  width:400px;
  height:200px;
}


.duduk_hole{
  height: 15px;
  width: 15px;
  position: absolute;
  top: 50px;
  left: 117px;
  border-radius: 10px;
}

.opened_hole{
  background: red;
}

.closed_hole{
  background: black;
}

#Gm1{ left : 10%; top:30px}
#A{ left : 21.5%; }
#B{ left : 27.5%; }
#C{ left : 34%; }
#D{ left : 41%; }
#E{ left : 47%; }
#F{ left : 54%; }
#G{ left : 61%; }
#Ap1{ left : 65%; top:30px}
#Bp1{ left : 69%; }

#constant_mass_container{
  bottom: 2px;
  position: absolute;
  margin-left: 60px;
}