.waveform{
  grid-column: span 3; 
}

.waveform_controls{
   display : flex;
}

.waveform_canvas{
    background : black;
    width: 100%;
    height: calc(100% - 85px);
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
}
