#parameters_range{
    z-index: 100;
    padding: 20px;
    width: 1000px;
    left: 10px;
    text-align: center;
    bottom: 10px;
    height: 300px;
}

#parameters_range button{
    width:75px;
    height: 30px;
}

#parameters_table{
    margin-bottom:15px;
}

#parameters_table tbody {
    display: block;
    height: 230px;
    overflow: auto;
}

#parameters_table thead, #parameters_table tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;/* even columns width , fix width of table too*/
}

#parameters_range td{
    white-space: nowrap;
}

#parameters_range input[type="text"]{
    width: 130px;
    background: white;
    border: 1px solid black;
}


#parameters_range input[type="checkbox"]{
    border:1px solid black;
}

#parameters_range select{
    width: 100px;
}