.midi{    
    grid-column: span 3;
}

#midi_inputs{
    width: 75%;
    left: 12.5%;
    position: absolute;
}

#midi_events_table{
    background: #9da46ba3;
    margin: auto;
    color: black;
    width: 100%;
    border: #b09b67 inset;
}

#midi_events{
    height: 200px;
    background: white;
    width: 90%;
    top: 30px;
    position: absolute;
    left: 5%;
    overflow-y : auto;
    margin-top: 15px;
}

#midi_events_table input{
    background: none;
    width : 100%;;
    outline : none;
    border: none;
    color:black;
}

#midi_events_table td {
    padding: 5px;
}
  
#midi_events_table tr:nth-child(odd) {
    background-color: #89c97b;
}

#set_midi_events{
    position: absolute;
    bottom: 10px;
    left: 40px;
    display:flex;
}

#add_midi_events{
    position: absolute;
    bottom: 10px;
    right: 40px;
}

#setting_midi{
    width: 10px;
    height: 10px;
    background: none;
    position: absolute;
    top: 9px;
    left: 1px;
    border-radius: 5px;
}



.button-15 {
    background: linear-gradient(#B09B67, #7B7551);
    border: 1px solid #837E58;;
    border-radius: 4px;
    box-sizing: border-box;
    color: black;
    cursor: pointer;
    direction: ltr;
    display: block;
    font-family: "SF Pro Text","SF Pro Icons","AOS Icons","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -.022em;
    line-height: 1.47059;
    min-width: 30px;
    overflow: visible;
    padding: 4px 15px;
    text-align: center;
    /*vertical-align: baseline;*/
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
  }
  
  .button-15:disabled {
    cursor: default;
    opacity: .3;
  }
  
  .button-15:hover {
    background-image: linear-gradient(#7B7551, #B09B67);
    border-color:#B09B67;
    text-decoration: none;
  }
  
  .button-15:active {
    background-image: linear-gradient(#7B7551, #B09B67);
    border-color: #006DBC;
    outline: none;
  }
  
  .button-15:focus {
    box-shadow: #B09B67 0 0 0 3px;
    outline: none;
  }


#midi_setting_in_progress{
    background:#824040;
    width:10px;
    height:10px;
    left: -5px;
    position: relative;
    border-radius: 5px;
    margin: 5px;
}

.blink{
    animation: blink 1s infinite;
}
@keyframes blink{
    0% {
        background: #824040;
    }
    20% {
        background: red;
    }
}
