<h1>Credits</h1>This program is developped for research and pedagogical purposes at Le Mans University 

<h2 > List of plugins </h2>
<ul class = "list">
    <li> <a href="#credits_general"> General purposes</a></li>
</ul>


<h2 id="credits_general">Plugins</h2>

<ul>
<li>JSAudioKnobs for the knobs, available at <a href="https://github.com/ColinBD/JSAudioKnobs">https://github.com/ColinBD/JSAudioKnobs</a></li>

<li>FF.js from the project Nayuki, available at <a href="https://www.nayuki.io/page/free-small-fft-in-multiple-languages">https://www.nayuki.io/page/free-small-fft-in-multiple-languages</a></li>

<li>yin.js for the frequency estimation, available at <a href="https://github.com/adriano-di-giovanni/yinjs">https://github.com/adriano-di-giovanni/yinjs</a></li>

<li>Jquery and Jquery-ui, available at <a href="https://jquery.com/">https://jquery.com/</a></li>


<li>Plotly.js, available at <a href="https://plotly.com/javascript/">https://plotly.com/javascript/</a></li>

<li>MathJax, thou for the frequency estimation, available at <a href="https://github.com/mathjax/MathJax">https://github.com/mathjax/MathJax</a></li>

</ul>

All the other plugins used in this project were developped at Le Mans university