<link rel="stylesheet" href="../../css/tools.css?version=1.03" />
<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
<meta http-equiv="Pragma" content="no-cache"/>
<meta http-equiv="Expires" content="0"/>

<div id="tools_menu">
  <div id="audio_start" onclick="toggle_audio()" title="Simulation starting point"> </div>
  <div id="speed" title="Estimation of CPU used&#013;by model and filters"> CPU: 0% </div>
  <div id="nan" title="Divergence indicator&#013;of the numerical scheme"> NAN </div>

  <div id="global_gain" title="Device gain&#013;Not part of the model">
     <label>Gain</label><input type="range" min="0" max="100" value="50" class="slider" id="gain_slider" oninput="gain_output.value=parseInt(-60+3*gain_slider.value/5); change_global_gain(this.value)">(<output id="gain_output">-30</output>dB) 
  </div>


  <div class = "menu_entry" onclick='$(".pop").hide(100);$("#tools_effects_list").toggle()' id="tools_effects">
       Effects
       <div class = "menu_entry_list pop"  id="tools_effects_list"></div>
  </div>
  
   <div class = "menu_entry" onclick='$(".pop").hide(100);$("#tools_analysis_list").toggle()' id="tools_analysis">
       Analysis
       <div class = "menu_entry_list pop"  id="tools_analysis_list"></div>

  </div>
  
   <div class = "menu_entry" onclick='$(".pop").hide(100);$("#tools_controls_list").toggle()' id="tools_controls">
       Controls
       <div class = "menu_entry_list pop"  id="tools_controls_list"></div>

  </div>

  <div class = "menu_entry" onclick='$(".pop").hide(100);$("#tools_session_list").toggle()' id="tools_session">
     Session
     <div class = "menu_entry_list pop"  id="tools_session_list">
          <div class = "plugin_menu" onclick="$('.pop').hide(100);$('#load').show()"> Load </div>
          <div class = "plugin_menu" onclick="$('.pop').hide(100);save_session()"> Save </div>
     </div>
  </div>

  <div class = "menu_entry" onclick='$(".pop").hide(100);$("#tools_parameters_list").toggle()' id="tools_parameters">
     Parameters
     <div class = "menu_entry_list pop"  id="tools_parameters_list">
          <div class = "plugin_menu" onclick="$('.pop').hide(100);parameters_to_range();"> Range </div>
          <!-- <div class = "plugin_menu" onclick="$('.pop').hide(100);$('#smoothening_controls').show()"> Smoothening </div> -->
     </div>

</div>
  
  <div class = "menu_entry" onclick='$(".pop").hide(100);$("#tools_help_list").toggle()' id="tools_help">
       Help
       <div class = "menu_entry_list pop"  id="tools_help_list">
            <div class = "plugin_menu" onclick="$('#model').show()"> Model </div>
            <div class = "plugin_menu" onclick="$('#help').show()"> Help </div>
            <!-- <div class = "plugin_menu" onclick="$('.pop').hide();$('#version').show()"> Version </div> -->
       </div>

  </div>
</div>



<div id="load" class="popup plugin">
     <div onclick="$(this).parent().hide()"  class="close_button"></div>

     <!-- Choose a file

     <form enctype="multipart/form-data">
          <input id="upload" type="file" accept="text/html" name="files" size=30>
     </form> -->

     Choose a session among the list

     <div id="choose_session">

          <table>
               <tr>
                    <td onclick="load_example_session('midi_violin.json')">Violin - Midi</td> 
               </tr>
               <tr>
                    <td onclick="load_example_session('duduk-simple.json')">Duduk - discover</td>
               </tr>
               <tr>
                    <td onclick="load_example_session('duduk-analysis.json')">Duduk - analysis</td>
               </tr>
               <tr>
                    <td onclick="load_example_session('radiate_pad_compressor.json')">Duduk - poor man's continuation</td> 
               </tr>
               <tr>
                    <td onclick="load_example_session('duduk-midi.json')">Midi</td> 
               </tr>
          </table>

     </div>

     <div id="load_dropbox">
          or drop a file in this box
     </div>

</div>

<div id="logo"></div>

<div id="parameters_range" class = "option_window">
     <div onclick="$(this).parent().hide()" class="close_button"></div>
     <table id="parameters_table">
          <thead>
               <tr>
                    <th style="width:20%">control</th>
                    <th style="width:20%"> Default </th>
                    <th style="width:20%"> Min </th>
                    <th style="width:20%"> Max </th>
                    <th style="width:5%"> Log </th>
               </tr>
          </thead>

          <tbody>

          </tbody>
       
      
     </table> 

     <button onclick="parameters_from_range();">Apply</button>

</div>

<!-- <div id="smoothening_controls" class = "option_window">
     <div onclick="$(this).parent().hide()" class="close_button"></div>
     Smoothening parameters
     <div id="smoothening_accuracy" title="Percentage of control change relative to maximal range between two time steps">
          <label>Control step stize (%) </label>
          <input type="range" min="0" max="100" value="50" class="slider" id="smoothening_accuracy_slider" oninput="smoothening_accuracy_slider_output.value=change_smoothening_accuracy(this.value) ">
          <output id="smoothening_accuracy_slider_output">0.012%</output>
     </div>

     <div id="smoothening_delay" title="Delay between two time steps">
          <label>Delay </label>
          <input type="range" min="0" max="100" value="50" class="slider" id="smoothening_delay_slider" oninput="smoothening_delay_slider_output.value=change_smoothening_delay(this.value)">
          <output id="smoothening_delay_slider_output">34ms</output>
     </div>

 </div>  -->


<div id="tools_message">
  message
</div>

<div id="controls" class="option_window">
     <div onclick="$(this).parent().hide()" class="close_button"></div>

     <div id="plugins_controls">

     </div>
</div>

<div id="disclaimer_window">

     <div id="disclaimer">

          <img src="./css/images/logo.svg">
     Yapsmi.js is a real time physical simulator of musical instruments written in javascript and built for pedagogical purposes.

     As such, it may sometimes produce non realistic sounds and/or infinite values.

     The sounds produced are compressed over a default value. However, as there may be large dynamics depending on the physical and numerical parameters. 
     Upon turning the program on, it is therefore a good idea to reduce the volume of the device.

     This program has been optimised for desktop computers, not for mobile devices.

     It uses no cookies, and stores no personal information.

     <button onclick='$("#disclaimer_window").hide()'> OK</button>
     </div>
</div>

<script>
     let load_dropbox = $("#load_dropbox");
     load_dropbox.on("dragenter", load_dragenter);
     load_dropbox.on("dragleave", load_dragleave);
     load_dropbox.on("dragover", load_dragover);
     load_dropbox.on("drop", load_drop);

     const adress_params = new URLSearchParams(document.location.search); 
     if (adress_params.get('disclaimer') === 'none'){
          $("#disclaimer_window").hide()
          $("#disclaimer_window").hide() 
     }


$( function() {
  $("#parameters_range").draggable({position:'fixed'})
// $("#midi_automation").draggable()
});
     
</script>