<link rel="stylesheet" href="../../css/tools.css?version=1.02" />
<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
<meta http-equiv="Pragma" content="no-cache"/>
<meta http-equiv="Expires" content="0"/>

<script
  src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml-full.js"
  type="text/javascript"></script>

  <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js"></script>
  <![endif]-->

<div id="tools_menu">
  <div id="audio_start" onclick="audio_start()" title="Simulation starting point"> </div>
  <div id="speed" title="Estimation of CPU used&#013;by model and filters"> CPU: 0% </div>
  <div id="nan" title="Divergence indicator&#013;of the numerical scheme"> NAN </div>

  <div id="global_gain" title="Device gain&#013;Not part of the model">
     <label>Gain</label><input type="range" min="0" max="100" value="50" class="slider" id="gain_slider" oninput="gain_output.value=parseInt(-60+3*gain_slider.value/5); change_global_gain(this.value)">(<output id="gain_output">-30</output>dB) 
  </div>


  <div class = "menu_entry" onclick='$(".pop").hide();$("#tools_effects_list").toggle()' id="tools_effects">
       Effects
       <div class = "menu_entry_list pop"  id="tools_effects_list"></div>
  </div>
  
   <div class = "menu_entry" onclick='$(".pop").hide();$("#tools_analysis_list").toggle()' id="tools_analysis">
       Analysis
       <div class = "menu_entry_list pop"  id="tools_analysis_list"></div>

  </div>
  
   <div class = "menu_entry" onclick='$(".pop").hide();$("#tools_controls_list").toggle()' id="tools_controls">
       Controls
       <div class = "menu_entry_list pop"  id="tools_controls_list"></div>

  </div>

  <div class = "menu_entry" onclick='$(".pop").hide();$("#tools_session_list").toggle()' id="tools_session">
     Session
     <div class = "menu_entry_list pop"  id="tools_session_list">
          <div class = "plugin_menu" onclick="$('.pop').hide();$('#load').show()"> Load </div>
          <div class = "plugin_menu" onclick="$('.pop').hide();save_session()"> Save </div>
     </div>
  </div>
  
  <div class = "menu_entry" onclick='$(".pop").hide();$("#tools_help_list").toggle()' id="tools_help">
       Help
       <div class = "menu_entry_list pop"  id="tools_help_list">
            <div class = "plugin_menu" onclick="$('#model').show()"> Model </div>
            <div class = "plugin_menu" onclick="$('#help').show()"> Help </div>
            <!-- <div class = "plugin_menu" onclick="$('.pop').hide();$('#version').show()"> Version </div> -->
       </div>

  </div>
</div>



<div id="load" class="popup plugin">
     <div onclick="$(this).parent().hide()"  class="close_button">✕</div>

     <!-- Choose a file

     <form enctype="multipart/form-data">
          <input id="upload" type="file" accept="text/html" name="files" size=30>
     </form> -->

     Choose a session among the list

     <div id="choose_session">

          <table>
               <tr>
                    <td onclick="load_example_session('guitar.json')">Guitar + midi</td>
               </tr>
               <tr>
                    <td onclick="load_example_session('compressor.json')">Basic session with compressor</td>
               </tr>
               <tr>
                    <td onclick="load_example_session('radiate_pad_compressor.json')">Session with radiated sound, pad and compressor</td> 
               </tr>
               <tr>
                    <td onclick="load_example_session('midi.json')">Midi</td> 
               </tr>
          </table>

     </div>

     <div id="load_dropbox">
          or drop a file in this box
     </div>

</div>

<div id="logo"></div>

<div id="popup">
     <div onclick="$(this).parent().hide()"  id="close_popup">✕</div>
     Test
</div>

<div id="parameters_range" class = "pop">
     <table id="parameters_table">
      <thead>
          <tr>
               <th style="width:60%">control</th>
               <th> Default </th>
               <th> Min </th>
               <th> Max </th>
           </tr>
      </thead>

      <tbody>

      </tbody>
       
      
     </table> 

     <button onclick="parameters_from_range();">Apply</button>

</div>

<div id="smoothening_controls" class = "pop">
     Smoothening parameters
     <div id="smoothening_accuracy" title="Percentage of change relative to maximal range between two time steps">
          <label>Accuracy </label>
          <input type="range" min="0" max="100" value="50" class="slider" id="smoothening_accuracy_slider" oninput="smoothening_accuracy_slider_output.value=change_smoothening_accuracy(this.value) ">
          (<output id="smoothening_accuracy_slider_output">0.012%</output>)
     </div>

     <div id="smoothening_delay" title="Delay between two time steps">
          <label>Delay </label>
          <input type="range" min="0" max="100" value="50" class="slider" id="smoothening_delay_slider" oninput="smoothening_delay_slider_output.value=change_smoothening_delay(this.value)">
          (<output id="smoothening_delay_slider_output">34ms</output>)
     </div>

     <label id="smoothen_parameters" title="Smoothen the change in parameters">On/off<input onclick="toggle_smoothening(this)" type="checkbox"></label>

 </div> 


<div id="tools_message">
  message
</div>

<div id="controls">
     <div onclick="$(this).parent().hide()"  id="close_popup">✕</div>

     <div id="modules">

     </div>
</div>

<div id="disclaimer_window">

     <div id="disclaimer">

          <img src="./css/images/logo.svg">
     Yapsmi.js is a real time physical simulator of musical instruments written in javascript and built for pedagogical purposes.

     As such, it may sometimes produce non realistic sounds and/or infinite values.

     The sounds produced are not compressed by default and there may be large dynamics depending on the physical parameters. 
     Upon turning the program on, it is therefore a good idea to reduce the volume of the device.

     This program has been optimised for desktop computers, not for mobile devices.

     It uses no cookies, and stores no personal information.

     <button onclick='$("#disclaimer_window").hide()'> OK</button>
     </div>
</div>

<script>
     let load_dropbox = $("#load_dropbox");
     load_dropbox.on("dragenter", load_dragenter);
     load_dropbox.on("dragleave", load_dragleave);
     load_dropbox.on("dragover", load_dragover);
     load_dropbox.on("drop", load_drop);
</script>