This program is developped for research and pedagogical purposes at Le Mans University inside the acoustic laboratory

<br>
<a href="http://www.univ-lemans.fr"><img src="../../css/images/logo_LMU.svg" alt="Le Mans Université" target="_blank" style="height:40px;"></a>
<a href="http://www.univ-lemans.fr"><img src="../../css/images/logo_LAUM.png" alt="Le Mans Université" target="_blank" style="height:100px;"></a>
<br>

For a tour of the possibilities offered by this program, please consult the youtube page of Yapsmi (link redirects to an external website)

<a target="_blank" href="https://youtu.be/Ysgzbz2U9b4"><img src="../../templates/youtube.jpg" width="500"></a>

This program is developped for research and pedagogical purposes at Le Mans University 

<h2 > Help sections </h2>
<ul class = "list">
    <li> <a href="#credits_general"> General purposes</a></li>
</ul>

