.waveform{
  grid-column: span 4; 
  width: 430px;
}

.waveform_controls{
   display : flex;
}

.waveform_canvas{
    background : black;
    width: 100%;
    height: 100%;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
}

.waveform .main-svg{
  border-radius: 18px 0px 0px 18px;
}

#waveform_source{
  min-width: 60px;
  width: 5px;
  position: absolute;
  top: 20px;
  right: 2px;
}

.waveform_ranges{
  bottom: 90px;
  position: absolute;
  right: 1px;
  width: 50px;
  white-space: nowrap;
  padding: 2px;

  & input[type="text"]{
    width: 40px;
    border: 1px solid black;
    right: 0px;
    position: absolute;
  }
}

#waveform_range_y{
  bottom: 5px;
}
